In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import wrangle
import env

In [36]:
df = pd.read_csv('zillow.csv')

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3442: DtypeWarning: Columns (64) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [37]:
df.shape,df.columns

((77579, 69),
 Index(['parcelid', 'typeconstructiontypeid', 'storytypeid',
        'propertylandusetypeid', 'heatingorsystemtypeid', 'buildingclasstypeid',
        'architecturalstyletypeid', 'airconditioningtypeid', 'id',
        'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid',
        'calculatedbathnbr', 'decktypeid', 'finishedfloor1squarefeet',
        'calculatedfinishedsquarefeet', 'finishedsquarefeet12',
        'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50',
        'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt',
        'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'latitude',
        'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum',
        'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
        'propertycountylandusecode', 'propertyzoningdesc',
        'rawcensustractandblock', 'regionidcity', 'regionidcounty',
        'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr',
        'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
        'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
        'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
        'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
        'censustractandblock', 'id.1', 'logerror', 'transactiondate',
        'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc',
        'heatingorsystemdesc', 'propertylandusedesc', 'storydesc',
        'typeconstructiondesc'],
       dtype='object'))

In [38]:
df.head()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,id.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,0,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,1,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,2,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,12177905,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2288172,NaN,...,3,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,10887214,NaN,NaN,266.0,2.0,NaN,NaN,1.0,1970746,NaN,...,4,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN

In [39]:
df.drop(df[df.parcelid.duplicated()].index,inplace=True) #Remove duplicates from parcelid

In [40]:
# Drop most of the id columns - prepare
ids = [col for col in df.columns if 'id' in col][1:]
del ids [-2]
df = df.drop(columns =ids, axis=1)

In [46]:
# Removes all columns with more than 20,000 null values
n = df.isnull().sum()>20000
df = df.loc[:,~n]