In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import env

In [3]:
df = pd.read_csv('zillow.csv')

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3442: DtypeWarning: Columns (64) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df.shape

(77579, 69)

In [6]:
df.describe()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,id.1,logerror
count,7.757900e+04,223.000000,50.0,77579.000000,49571.000000,15.000000,207.000000,25007.000000,7.757900e+04,50.000000,...,172.0,7.746400e+04,7.757800e+04,77579.0,7.757700e+04,77574.000000,2900.000000,7.733200e+04,77579.000000,77579.000000
mean,1.300828e+07,6.040359,7.0,261.824476,3.921749,3.933333,7.386473,1.812013,1.495392e+06,679.720000,...,1.0,1.892811e+05,4.901506e+05,2016.0,3.011515e+05,5995.961788,14.088276,6.049667e+13,38806.223579,0.016803
std,3.519399e+06,0.556035,0.0,5.141596,3.594780,0.258199,2.728030,2.965768,8.609686e+05,689.703546,...,0.0,2.304107e+05,6.537979e+05,0.0,4.927249e+05,7628.859728,2.181281,1.533339e+12,22403.467491,0.170738
min,1.071186e+07,4.000000,7.0,31.000000,1.000000,3.000000,2.000000,1.000000,3.490000e+02,38.000000,...,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,0.000000,-4.655420
25%,1.153820e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,7.521420e+05,273.000000,...,1.0,8.417925e+04,2.068985e+05,2016.0,8.529300e+04,2712.630000,14.000000,6.037311e+13,19404.500000,-0.024309
50%,1.253054e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,1.498227e+06,515.000000,...,1.0,1.364045e+05,3.588785e+05,2016.0,2.031880e+05,4448.265000,15.000000,6.037603e+13,38804.000000,0.006676
75%,1.421136e+07,6.000000,7.0,266.000000,7.000000,4.000000,7.000000,1.000000,2.240879e+06,796.500000,...,1.0,2.187340e+05,5.690000e+05,2016.0,3.667530e+05,6926.917500,15.000000,6.059042e+13,58207.500000,0.039291
max,1.676893e+08,13.000000,7.0,275.000000,24.000000,4.000000,21.000000,13.000000,2.982274e+06,3560.000000,...,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,77612.000000,5.262999

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77579 entries, 0 to 77578
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77579 non-null  int64
 1   typeconstructiontypeid        223 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77579 non-null  float64
 4   heatingorsystemtypeid         49571 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      207 non-null    float64
 7   airconditioningtypeid         25007 non-null  float64
 8   id                            77579 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77579 non-null  float64
 11  bedroomcnt                    77579 non-null  float64
 12  buildingqualitytypeid         49809 non-null  float64
 13  calculatedbathnbr             76963 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6037 non-null   float64
 16  calculatedfinishedsquarefeet  77378 non-null  float64
 17  finishedsquarefeet12          73923 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6037 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77579 non-null  float64
 23  fireplacecnt                  8289 non-null   float64
 24  fullbathcnt                   76963 non-null  float64
 25  garagecarcnt                  25520 non-null  float64
 26  garagetotalsqft               25520 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77579 non-null  float64
 29  longitude                     77579 non-null  float64
 30  lotsizesquarefeet             69321 non-null  float64
 31  poolcnt                       16174 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15079 non-null  float64
 36  propertycountylandusecode     77579 non-null  object
 37  propertyzoningdesc            50476 non-null  object
 38  rawcensustractandblock        77579 non-null  float64
 39  regionidcity                  76107 non-null  float64
 40  regionidcounty                77579 non-null  float64
 41  regionidneighborhood          30974 non-null  float64
 42  regionidzip                   77529 non-null  float64
 43  roomcnt                       77579 non-null  float64
 44  threequarterbathnbr           10106 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77309 non-null  float64
 49  numberofstories               17599 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77464 non-null  float64
 52  taxvaluedollarcnt             77578 non-null  float64
 53  assessmentyear                77579 non-null  float64
 54  landtaxvaluedollarcnt         77577 non-null  float64
 55  taxamount                     77574 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77332 non-null  float64
 59  id.1                          77579 non-null  int64
 60  logerror                      77579 non-null  float64
 61  transactiondate               77579 non-null  object
 62  airconditioningdesc           25007 non-null  object
 63  architecturalstyledesc        207 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49571 non-null  object
 66  propertylandusedesc           77579 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 40.8+ MB

In [13]:
for col in list(df.select_dtypes('object')):
    print(df[col].head())

0     122
1    1110
2     122
3    0101
4    010C
Name: propertycountylandusecode, dtype: object
0           NaN
1           NaN
2           NaN
3    LCR110000*
4          LAR3
Name: propertyzoningdesc, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: taxdelinquencyflag, dtype: object
0    2017-01-01
1    2017-01-01
2    2017-01-01
3    2017-01-01
4    2017-01-01
Name: transactiondate, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
4    Central
Name: airconditioningdesc, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: architecturalstyledesc, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: buildingclassdesc, dtype: object
0        NaN
1        NaN
2        NaN
3    Central
4    Central
Name: heatingorsystemdesc, dtype: object
0    Single Family Residential
1    Single Family Residential
2    Single Family Residential
3    Single Family Residential
4                  Condominium
Name: propertylandusedesc, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: storydesc, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: typeconstructiondesc, dtype: object

Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [17]:
df.shape[0]

77579

In [23]:
def explore_nulls(df):    
    column_name = []
    null_count = []
    null_perc = []

    for col in df.columns:
        row_count = df.shape[0]
        isna = df[col].isnull().sum()
        missing = isna/row_count
        column_name.append(col)
        null_count.append(isna)
        null_perc.append(isna/row_count)

    return pd.DataFrame({'column_name':column_name,'null_count':null_count,'null_percent':null_perc})

In [24]:
explore_nulls(df)

               column_name  null_count  null_percent
0                 parcelid           0      0.000000
1   typeconstructiontypeid       77356      0.997126
2              storytypeid       77529      0.999355
3    propertylandusetypeid           0      0.000000
4    heatingorsystemtypeid       28008      0.361026
..                     ...         ...           ...
64       buildingclassdesc       77564      0.999807
65     heatingorsystemdesc       28008      0.361026
66     propertylandusedesc           0      0.000000
67               storydesc       77529      0.999355
68    typeconstructiondesc       77356      0.997126

[69 rows x 3 columns]

Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [26]:
df.propertylandusedesc.value_counts()

Single Family Residential                     52441
Condominium                                   19342
Duplex (2 Units, Any Combination)              2021
Planned Unit Development                       1947
Quadruplex (4 Units, Any Combination)           729
Triplex (3 Units, Any Combination)              539
Cluster Home                                    335
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       59
Residential General                              42
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

In [27]:
single_unit =['Single Family Residential','Mobile Home','Manufactured, Modular, Prefabricated Homes','Residential General']

In [34]:
df = df[df.propertylandusedesc.isin(single_unit)]

In [135]:
def handle_missing_values(df, prop_required_column, prop_required_row):
    temp = explore_nulls(df) 
    cols_drop = temp[temp.null_percent>prop_required_column]['column_name'].values.tolist()
    df.drop(cols_drop,axis=1)

    df['row_missing'] = df.isnull().sum(axis=1)/df.shape[1] #These two lines take care of the rows
    df.drop(df[df.row_missing>.4].index)
    
    return df

In [138]:
handle_missing_values(df,.3,.3)

/var/folders/fz/0282wvb93rn0lm_p0nscw1sm0000gn/T/ipykernel_36081/1554893762.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['row_missing'] = df.isnull().sum(axis=1)/df.shape[1] #These two lines take care of the rows

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc,row_missing
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,0.514286
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,0.471429
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,0.485714
3,12177905,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2288172,NaN,...,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.457143
6,12095076,NaN,NaN,261.0,2.0,NaN,NaN,1.0,781532,NaN,...,-0.001011,2017-01-01,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.414286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77573,12412492,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2274245,NaN,...,0.001082,2017-09-19,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.485714
77575,11000655,NaN,NaN,261.0,2.0,NaN,NaN,NaN,673515,NaN,...,0.020615,2017-09-20,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.471429
77576,17239384,NaN,NaN,261.0,NaN,NaN,NaN,NaN,2968375,NaN,...,0.013209,2017-09-21,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,0.457143
77577,12773139,NaN,NaN,261.0,2.0,NaN,NaN,1.0,1843709,NaN,...,0.037129,2017-09-21,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.457143
77578,12826780,NaN,NaN,261.0,2.0,NaN,NaN,NaN,1187175,NaN,...,0.007204,2017-09-25,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.485714

In [134]:
l = temp[temp.null_percent>prop_required_column]['column_name'].values.tolist()

NameError: name 'prop_required_column' is not defined

In [102]:
df.drop(df[df.row_missing>.4].index)

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc,row_missing
125,14172985,6.0,NaN,261.0,6.0,NaN,7.0,1.0,2874473,NaN,...,0.007491,2017-01-03,Central,Contemporary,NaN,Forced air,Single Family Residential,NaN,Frame,0.347826
206,14081891,6.0,NaN,261.0,6.0,NaN,7.0,NaN,1935368,NaN,...,0.011913,2017-01-03,NaN,Contemporary,NaN,Forced air,Single Family Residential,NaN,Frame,0.376812
304,11983501,NaN,NaN,261.0,2.0,NaN,NaN,1.0,289065,NaN,...,-0.104306,2017-01-03,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.391304
672,14531476,6.0,NaN,261.0,18.0,NaN,7.0,11.0,1325329,NaN,...,0.016042,2017-01-04,Wall Unit,Contemporary,NaN,Radiant,Single Family Residential,NaN,Frame,0.391304
860,17261587,NaN,NaN,261.0,NaN,NaN,NaN,NaN,2804456,NaN,...,0.015219,2017-01-05,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,0.391304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75104,12034247,NaN,NaN,261.0,2.0,NaN,NaN,1.0,2153504,NaN,...,-0.088087,2017-09-08,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.391304
75320,11012723,NaN,NaN,261.0,2.0,NaN,NaN,1.0,2164863,NaN,...,0.019047,2017-09-11,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.391304
75446,11090647,NaN,NaN,261.0,2.0,NaN,NaN,1.0,524822,NaN,...,0.114953,2017-09-11,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.391304
75679,10726497,NaN,NaN,261.0,2.0,NaN,NaN,1.0,299551,NaN,...,0.391733,2017-09-12,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN,0.391304
76156,17208897,NaN,7.0,261.0,NaN,NaN,NaN,NaN,1910023,38.0,...,-0.019711,2017-09-13,NaN,NaN,NaN,NaN,Single Family Residential,Basement,NaN,0.362319

In [105]:
test.head()

              column_name  null_count  null_percent
0                parcelid           0      0.000000
1  typeconstructiontypeid       52540      0.998556
2             storytypeid       52569      0.999107
3   propertylandusetypeid           0      0.000000
4   heatingorsystemtypeid       18670      0.354835

In [104]:
test = explore_nulls(df)

In [132]:
df.drop(l,axis=1)

,parcelid,propertylandusetypeid,heatingorsystemtypeid,airconditioningtypeid,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,...,landtaxvaluedollarcnt,taxamount,censustractandblock,id.1,logerror,transactiondate,airconditioningdesc,heatingorsystemdesc,propertylandusedesc,row_missing
0,14297519,261.0,NaN,NaN,1727539,3.5,4.0,NaN,3.5,3100.0,...,537569.0,11013.72,6.059063e+13,0,0.025595,2017-01-01,NaN,NaN,Single Family Residential,0.521739
1,17052889,261.0,NaN,NaN,1387261,1.0,2.0,NaN,1.0,1465.0,...,376000.0,5672.48,6.111001e+13,1,0.055619,2017-01-01,NaN,NaN,Single Family Residential,0.478261
2,14186244,261.0,NaN,NaN,11677,2.0,3.0,NaN,2.0,1243.0,...,479489.0,6488.30,6.059022e+13,2,0.005383,2017-01-01,NaN,NaN,Single Family Residential,0.492754
3,12177905,261.0,2.0,NaN,2288172,3.0,4.0,8.0,3.0,2376.0,...,36225.0,1777.51,6.037300e+13,3,-0.103410,2017-01-01,NaN,Central,Single Family Residential,0.463768
6,12095076,261.0,2.0,1.0,781532,3.0,4.0,9.0,3.0,2962.0,...,496619.0,9516.26,6.037461e+13,6,-0.001011,2017-01-01,Central,Central,Single Family Residential,0.420290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77573,12412492,261.0,2.0,NaN,2274245,2.0,4.0,6.0,2.0,1633.0,...,221068.0,4175.08,6.037555e+13,77607,0.001082,2017-09-19,NaN,Central,Single Family Residential,0.492754
77575,11000655,261.0,2.0,NaN,673515,2.0,2.0,6.0,2.0,1286.0,...,283704.0,4478.43,6.037101e+13,77609,0.020615,2017-09-20,NaN,Central,Single Family Residential,0.478261
77576,17239384,261.0,NaN,NaN,2968375,2.0,4.0,NaN,2.0,1612.0,...,16522.0,1107.48,6.111008e+13,77610,0.013209,2017-09-21,NaN,NaN,Single Family Residential,0.463768
77577,12773139,261.0,2.0,1.0,1843709,1.0,3.0,4.0,1.0,1032.0,...,16749.0,876.43,6.037434e+13,77611,0.037129,2017-09-21,Central,Central,Single Family Residential,0.463768
77578,12826780,261.0,2.0,NaN,1187175,2.0,3.0,6.0,2.0,1762.0,...,382000.0,6317.15,6.037503e+13,77612,0.007204,2017-09-25,NaN,Central,Single Family Residential,0.492754

In [125]:
[new_list] = [['a','b','c','d']]

['typeconstructiontypeid']

In [121]:
df.drop(l,axis=1)

KeyError: "[('typeconstructiontypeid',) ('storytypeid',) ('buildingclasstypeid',)\n ('architecturalstyletypeid',) ('basementsqft',) ('decktypeid',)\n ('finishedfloor1squarefeet',) ('finishedsquarefeet13',)\n ('finishedsquarefeet15',) ('finishedsquarefeet50',)\n ('finishedsquarefeet6',) ('hashottuborspa',) ('poolsizesum',)\n ('pooltypeid10',) ('pooltypeid2',) ('yardbuildingsqft17',)\n ('yardbuildingsqft26',) ('fireplaceflag',) ('taxdelinquencyflag',)\n ('taxdelinquencyyear',) ('architecturalstyledesc',)\n ('buildingclassdesc',) ('storydesc',) ('typeconstructiondesc',)] not found in axis"