In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import wrangle
import env

In [3]:
df = pd.read_csv('zillow.csv')

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3442: DtypeWarning: Columns (64) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.shape

(77579, 69)

In [5]:
df.describe()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,id.1,logerror
count,7.757900e+04,223.000000,50.0,77579.000000,49571.000000,15.000000,207.000000,25007.000000,7.757900e+04,50.000000,...,172.0,7.746400e+04,7.757800e+04,77579.0,7.757700e+04,77574.000000,2900.000000,7.733200e+04,77579.000000,77579.000000
mean,1.300828e+07,6.040359,7.0,261.824476,3.921749,3.933333,7.386473,1.812013,1.495392e+06,679.720000,...,1.0,1.892811e+05,4.901506e+05,2016.0,3.011515e+05,5995.961788,14.088276,6.049667e+13,38806.223579,0.016803
std,3.519399e+06,0.556035,0.0,5.141596,3.594780,0.258199,2.728030,2.965768,8.609686e+05,689.703546,...,0.0,2.304107e+05,6.537979e+05,0.0,4.927249e+05,7628.859728,2.181281,1.533339e+12,22403.467491,0.170738
min,1.071186e+07,4.000000,7.0,31.000000,1.000000,3.000000,2.000000,1.000000,3.490000e+02,38.000000,...,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,0.000000,-4.655420
25%,1.153820e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,7.521420e+05,273.000000,...,1.0,8.417925e+04,2.068985e+05,2016.0,8.529300e+04,2712.630000,14.000000,6.037311e+13,19404.500000,-0.024309
50%,1.253054e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,1.498227e+06,515.000000,...,1.0,1.364045e+05,3.588785e+05,2016.0,2.031880e+05,4448.265000,15.000000,6.037603e+13,38804.000000,0.006676
75%,1.421136e+07,6.000000,7.0,266.000000,7.000000,4.000000,7.000000,1.000000,2.240879e+06,796.500000,...,1.0,2.187340e+05,5.690000e+05,2016.0,3.667530e+05,6926.917500,15.000000,6.059042e+13,58207.500000,0.039291
max,1.676893e+08,13.000000,7.0,275.000000,24.000000,4.000000,21.000000,13.000000,2.982274e+06,3560.000000,...,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,77612.000000,5.262999

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77579 entries, 0 to 77578
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77579 non-null  int64
 1   typeconstructiontypeid        223 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77579 non-null  float64
 4   heatingorsystemtypeid         49571 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      207 non-null    float64
 7   airconditioningtypeid         25007 non-null  float64
 8   id                            77579 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77579 non-null  float64
 11  bedroomcnt                    77579 non-null  float64
 12  buildingqualitytypeid         49809 non-null  float64
 13  calculatedbathnbr             76963 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6037 non-null   float64
 16  calculatedfinishedsquarefeet  77378 non-null  float64
 17  finishedsquarefeet12          73923 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6037 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77579 non-null  float64
 23  fireplacecnt                  8289 non-null   float64
 24  fullbathcnt                   76963 non-null  float64
 25  garagecarcnt                  25520 non-null  float64
 26  garagetotalsqft               25520 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77579 non-null  float64
 29  longitude                     77579 non-null  float64
 30  lotsizesquarefeet             69321 non-null  float64
 31  poolcnt                       16174 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15079 non-null  float64
 36  propertycountylandusecode     77579 non-null  object
 37  propertyzoningdesc            50476 non-null  object
 38  rawcensustractandblock        77579 non-null  float64
 39  regionidcity                  76107 non-null  float64
 40  regionidcounty                77579 non-null  float64
 41  regionidneighborhood          30974 non-null  float64
 42  regionidzip                   77529 non-null  float64
 43  roomcnt                       77579 non-null  float64
 44  threequarterbathnbr           10106 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77309 non-null  float64
 49  numberofstories               17599 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77464 non-null  float64
 52  taxvaluedollarcnt             77578 non-null  float64
 53  assessmentyear                77579 non-null  float64
 54  landtaxvaluedollarcnt         77577 non-null  float64
 55  taxamount                     77574 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77332 non-null  float64
 59  id.1                          77579 non-null  int64
 60  logerror                      77579 non-null  float64
 61  transactiondate               77579 non-null  object
 62  airconditioningdesc           25007 non-null  object
 63  architecturalstyledesc        207 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49571 non-null  object
 66  propertylandusedesc           77579 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 40.8+ MB

Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [ ]:
def explore_nulls(df):    
    column_name = []
    null_count = []
    null_perc = []

    for col in df.columns:
        row_count = df.shape[0]
        isna = df[col].isnull().sum()
        missing = isna/row_count
        column_name.append(col)
        null_count.append(isna)
        null_perc.append(isna/row_count)

    return pd.DataFrame({'column_name':column_name,'null_count':null_count,'null_percent':null_perc})

In [ ]:
# Esteban's way
def explore_nulls(df):
    null_count = df.isnull().sum()
    null_perc = df.isnull().sum()/df.shape[0]
    return pd.DataFrame({'null_count':null_count,'null_perc':null_perc})

In [ ]:
df = test(df)

In [ ]:
df.reset_index()

In [ ]:
explore_nulls(df)

Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [ ]:
single_unit =['Single Family Residential','Mobile Home','Manufactured, Modular, Prefabricated Homes','Residential General']

In [ ]:
df = df[df.propertylandusedesc.isin(single_unit)]

In [ ]:
def handle_missing_values(df, prop_required_column, prop_required_row):
    temp = explore_nulls(df) 
    cols_drop = temp[temp.null_percent>prop_required_column]['column_name'].values.tolist()
    df.drop(cols_drop,axis=1)

    df['row_missing'] = df.isnull().sum(axis=1)/df.shape[1] #These two lines take care of the rows
    df.drop(df[df.row_missing>.4].index)
    
    return df

In [ ]:
handle_missing_values(df,.3,.3)

In [ ]:
df.drop(df[df.row_missing>.4].index)

In [ ]:
test.head()

In [ ]:
test = explore_nulls(df)

Acquire data from the customers table in the mall_customers database.

In [ ]:
import wrangle

In [ ]:
url = env.get_connection('mall_customers')
query = 'select * from customers'
df = pd.read_sql(query,url)

In [ ]:
df.head()

In [ ]:
df = wrangle.assign_outlier(df,['age','annual_income','spending_score'])

In [ ]:
outliers_cols = [col for col in df.columns if 'outliers' in col]

In [ ]:
df[df[outliers_cols].any()==1]

In [ ]:
def print_outliers(df):
    return df[df[outliers_cols].any(axis=1)==1]

In [ ]:
print_outliers(df)

In [ ]:
df[df[outliers_cols].any(axis=1)==1]